.header {
  background-color: var(--light-background);
  box-shadow: var(--primary-box-shadow);
  -webkit-box-shadow: var(--primary-box-shadow);
  -moz-box-shadow: var(--primary-box-shadow);
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 6px;
}

.header .header-link {
  font-weight: 500;
}

.header .header-home-brand {
  display: flex;
  background-color: var(--primary-color);
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.header .header-left {
  margin-right: auto;
}
.header .header-right {
  /* margin-right: var(--small-padding); */
  order: 1;
}

.header .navbar-nav .nav-link,
.header .navbar-nav .nav-link.active {
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.header .header-home {
  display: flex;
  /* background-color: var(--primary-color); */
  margin-right: 0;
}

/* .header .navbar-nav .header-link {
  text-transform: capitalize;
} */

.header .navbar-nav .header-link:hover {
  color: var(--primary-color);
}

.header .navbar-nav .header-link-active {
  color: var(--primary-color);
}

.header .header-right > a > .MuiSvgIcon-root {
  color: var(--primary-text-color);
  font-size: var(--small-font);
  margin-right: var(--small-padding);
}

.header .header-right > a > .MuiSvgIcon-root:hover {
  color: var(--primary-color);
}

.header .navbar-toggler {
  border-color: transparent;
}

@media (max-width: 430px) {
  .header .header-right {
    /* margin-right: var(--small-padding); */
    order: 0;
    flex: 1 0 auto;
    text-align: end;
  }
}
