.footer {
  background: var(--footer-color);
  min-height: 50px;
  color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  /* line-height: 72px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
