:root {
  /** Font Sizes */
  --extra-small-font: 0.8rem; /* 13px*/
  --small-font: 1rem; /* 16px */
  --medium-font: 1.125rem; /* 18px */

  /**Padding */
  --small-padding: 1.25rem;
  --medium-padding: 1.8rem;

  /** Margin*/
  --small-margin: 0.625rem;
  --medium-margin: 1.8rem;

  /** Text Colors*/
  --text-description: #777777;
  --light-background: #ffffff;
  --primary-color: #ffc107;
  --primary-text-color: #000000;
  --secondary-text-color: #4c4c4c;

  /**Box Shadow */
  --primary-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.1);

  /* Footer Color */
  --footer-color: #1e1e1e;

  /* Border Radius */
  --common-border-radius: 8px;

  /* Paragraph margin */
  --para-margin: 1rem;

  /* Hover colors for Social Icons */
  --fb-hover-color: #3b5998;
  --insta-hover-color: #cd486b;
  --git-hover-color: #040204;
  --linkedin-hover-color: #04669a;
}
